html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #4f46e5, #9333ea);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}